.modal-item {
    display: flex;
    gap: 120px;
}
.modal-item__img {
    width: 380px;
    height: 440px;
    object-fit: cover;
}
.modal-item__title {
    font-size: 34px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.modal-item__advantage-list {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
} 
.modal-item__text {
  font-weight: 500;
}

.modal-item__text {
    font-weight: 500;
}
.modal-item__btn-to-cart {
    
    padding: 7px 25px;
    
}
.modal-item__btn-group {
    display: flex;
    align-items: center;
    gap: 30px;
}
.modal-item__btn-to-favorite {
    background-color: transparent;
    color: #fff;
    border: none;
    transition: color .24s ease;
}



.item__favorite-btn.active {
  color: var(--heart-color)
}

.item__favorite-btn:hover {
  color: var(--heart-color);
  opacity: 0.5;
}

.item__favorite-btn:active {
  color: var(--heart-color);
}

.item__favorite-btn:focus {
  color: var(--focus-color);
}